.main {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
}

.article-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.last-article {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.last-article img {
    width: 200px;
    height: auto;
}
