<div class="dropdown">
    <button (click)='dropdown()' class="dropbtn"><i class="fas fa-chevron-down"></i>
    </button>
    <div id="myDropdown" *ngIf='showMenu' class="dropdown-content">
      <a (click)='displayProfile()'>Profile</a>
      <a (click)='logout()'>Déconnexion</a>
    </div>
</div>

<div class="profile-container" *ngIf='showProfile'>
    <a (click)='hideProfile()' class="close"><i class="fa fa-times"></i></a>
    <div class="profile" *ngIf='user'>
        <div class="top-profile">
            <div class="photo">
                <img [src]='photoUrl' *ngIf='photoUrl' alt="photo de profil0">
                <h1 class="initial" *ngIf='photoUrl == undefined'>{{getUserInitials()}}</h1>
            </div>
    
            <div class="personal-information">
                <h1>{{user.fullname}}</h1>
                <h2>{{user.email}}</h2>
    
                <div class="file-chooser">
                    <label for="photo-file">Cliquez ici pour changer votre photo de profil</label>
                    <input type="file" (change)='changeUserPhoto($event)'>
                </div>
            </div>
        </div>
    
        <div class="all-informations">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" [(ngModel)]='user.username'>
            </div>
    
            <div class="form-group">
                <label for="fullname">Nom et prénom</label>
                <input type="text" id="fullname" [(ngModel)]='user.fullname'>
            </div>
    
            <div class="form-group">
                <label for="email">Adresse Email</label>
                <input type="text" id="email" [(ngModel)]='user.email'>
            </div>
    
            <div class="form-group">
                <label for="phone">Numéro de téléphone</label>
                <input type="text" id="phone" [(ngModel)]='user.phone'>
            </div>
    
            <div class="form-group">
                <label for="role"></label>
                <select  id="role" [(ngModel)]='user.role'>
                    <option value="GERANT">GERANT</option>
                    <option value="TMG">TMG</option>
                    <option value="EMPLEYE_SS">EMPLEYE_SS</option>
                    <option value="ROOT">ROOT</option>
                </select>
            </div>
        </div>
        <button (click)='updatePersonalInformation()'>Enregistrer les modifications</button>

        <div class="change-password">
            <h2>Changer le mot de passe</h2>
            <div class="form-group">
                <label for="newpassword">Nouveau mot de passe</label>
                <input type="password" [(ngModel)]='newPassword' id="newpassword">
            </div>
    
            <div class="form-group">
                <label for="cnewpassword">Confirmer nouveau mot de passe</label>
                <input type="password" [(ngModel)]='confirmNewPassword' id="cnewpassword">
            </div>
            <button (click)='changePassword()'>Modifier le mot de passe</button>
        </div>
    </div>

    
</div>
