header {
    padding: 20px;
    box-shadow: 1px 2px 10px #cccccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.flex-expand {
    flex-grow: 10;
    text-align: right;
    padding: 0px 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    width: 50vw;
}

.nav-item span {
    padding-left: 8px;
}

.nav-item {
    padding-bottom: 10px;
    transition: 0.4s;
}

.nav-item:hover {
    cursor: pointer;
}

.active {
    color: red;
    border-bottom: 2px solid red;
}