<div class="main">
    <button (click)="displayCreateUserDialog()">Ajouter un utilisateur</button>
<div *ngIf="userTableRows">
    <app-list (rowClick)='onUserTableRowClick($event)' [rows]='userTableRows' [headers]='userTableHeaders'></app-list>
</div>

<app-create-user-modal (closeModal)='onUserCreated($event)' [isEmploye]='isEmploye' [ssId]='ssId' *ngIf="showCreateUserModal"></app-create-user-modal>
<app-view-user-modal (closeModal)='onUserCancelView()' *ngIf="showViewUserModal" [(user)]='currentUserView'></app-view-user-modal>

</div>