.illustration {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.cn {
    width: 80%;
}

.title {
    font-size: 2.5em;
    padding-bottom: 40px;
}

.comments {
    padding: 40px;
    flex: wrap;
}

.comments h1 {
    font-size: 1.5em;
    padding-top: 40px;
    padding-bottom: 20px;
}

.send-btn {
    margin-top: 20px;
    margin-bottom: 40px;
}

.author-name {
    color: #DF0C36;
    font-size: 0.8em;
}

.p-date {
    color: #777777;
    font-size: 0.8em;
    
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    margin: 10px;
    box-shadow: -2px 4px 5px #cccccc;
}

.message {
    padding: 20px;
}


