<div class="main">
    <div class="cn">
        <h1 class="title">{{ actu[0] }}</h1>

        <P class="author">{{actu[2]}}</P>
        <p class="date">publié le {{ actu[3] + '/' + actu[4] }}</p>
    
        <img [src]="actu[5]" alt="illustration" class="illustration" *ngIf='actu[5]'>
    
        <div class='content' [innerHtml]='actu[1]'></div>
    </div>

    <div class="comments">
        <h1>Commentaires</h1>

        <p>Réagir à cette article</p>
        <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="comment" [config]="editorConfig"></angular-editor>
        <button  class="send-btn" (click)='commentArticle()'>Envoyer</button>

        <p>Toutes les réactions</p>
        <div class="comment-list">
            <div class="comment" *ngFor='let c of comments'>
                <div>
                    <p  class="author-name" *ngIf='users'>{{getUser(c.author).fullname}}</p>
                    <p class="p-date">{{c.publish | date}}</p>
                </div>
                <div class="message" [innerHtml]='c.content'></div>
            </div>
        </div>
    </div>
</div>
