table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }


 .pagination {
     display: flex;
     flex-direction: row;
 }

 .pagination li {
     list-style-type: none;
     padding: 8px;
     border: 1px solid #2F7BB4;
     color: #2F7BB4;
     width: 40px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

.thead {
     background-color: #2F7BB4;
     color: white;
}

.tentry:hover {
    cursor: pointer;
    transform: scale(1.001);
    border: 1px solid #2F7BB4ef;
}

 .pagination li:hover {
     cursor: pointer;
 }

 .pagination .active {
     background-color: #2F7BB4;
     color: white;
 }